*, *:before, *:after {
  box-sizing: border-box;
}

body{
  font-family: sans-serif;
  background-color: brown;
}

section{
  position: relative;
  display: block;
  width: 50vw;
  height: 50vw;
  margin: 0 auto;
  margin-top: 1.25vw;
}

div{
  padding-top: 1vw;
  font-size: 12vw;
  color: brown;
  text-align: center;
  display: block;
  height: 33%;
  width: 33%;
  border: .75vw solid brown;
  float: left;
  background-color: white;
}
